<div id="contractmanagement-section" class="" style="margin: 0 auto;">
  <div class="row gx-0 justify-content-between justify-content-md-start">
    <div class="col-auto">
      <div class="dropdown">
        <a class="btn btn-link text-decoration-none text-body-emphasis fs-8 ps-0"
          href="/contract/management?ContractId=<%= model.url.query.ContractId %>"><span class="fs-7 me-2">
            <%= model.data.ContractName %>
          </span></a>
      </div>
    </div>
    <div class="col-auto d-flex align-items-center">
    </div>
    <div class="col-md-auto d-flex align-items-center ms-auto mt-2 mt-md-0">
      <ul class="nav w-100 fs-9">
        <li class="nav-item"><a class="nav-link d-flex align-items-center text-body px-2 px-xl-3 fw-bold"
            href="/contract/management-items?ContractId=<%= model.url.query.ContractId %>"> <span
              class="me-1 fas fa-list" data-fa-transform="up-2" style="min-width: 14px"></span><span
              class="d-none d-xxl-inline">Items</span></a>
        </li>
        <li class="nav-item"><a class="nav-link d-flex align-items-center text-body px-2 px-xl-3 fw-bold"
            href="javascript:;"
            onclick="senapp.window.offcanvas({ title: 'Members', url: '/contractmember?viewname=contractmemberbycontract&id=<%= model.url.query.ContractId %>'});"><span
              class="me-1 fa-solid fa-users" data-fa-transform="up-2" style="min-width: 14px"></span><span
              class="d-none d-xxl-inline">Members</span></a></li>

      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="card">
      <div class="card-body">
        <!-- <div class="search-box mb-3 mx-auto">
            <div class="position-relative">
              <input class="form-control search-input search form-control-sm" type="search" placeholder="Search"
                aria-label="Search" />
              <span class="fas fa-search search-box-icon"></span>
            </div>
          </div> -->
        <div class="table-responsive">
          <table class="table table-sm fs-9 mb-5">
            <tbody class="list">
              <tr data-id="<%= model.url.query.ContractId %>">
                <td id="contractmanagement-body-section" class="border-0"></td>
              </tr>
              <!-- Table datas will be added here -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <script>
    var contractobject = {};
    contractobject.model = JSON.parse('<%- JSON.stringify(model) %>');
    contractobject.container = document.getElementById("contractmanagement-section");//khu vực chứa danh sách
    contractobject.urldata = {
      lists: '/contract/list',
      item: '/contract/item',
      // create: '/contract/create?viewname=contractmasterupdate&callback=' + encodeURIComponent('contractobject.createcallback'),
      // edit: '/contract/edit?viewname=contractmasterupdate&callback=' + encodeURIComponent('contractobject.editcallback'),
      // delete: '/contract/delete',
      // update: '/contract/edit'
      assignToUser: '/contractmember/create',
      assignToSubmission: '/contractlinemember/create',
      memberbycontract: '/contractmember/memberbycontract',
      management: '/contract/management'
    };

    contractobject.createcallback = function (response) {
      //nếu response[0] tồn tại thì hiển thị thông báo lỗi
      if (response[0]) {
        if (response[0].status == 0) {
          alert(response[0].message);
          return;
        }
        contractobject.tbl.onAddRowData({ data: response[0].data });
        //senapp.sidebar.menuclickbydatalink('/contract');
      }
    };
    contractobject.editcallback = function (response) {
      //nếu response[0] tồn tại thì hiển thị thông báo lỗi
      if (response[0]) {
        if (response[0].status == 0) {
          alert(response[0].message);
          return;
        }
        contractobject.tbl.onChangeRowData({ data: response[0].data });
        //nếu tồn tại dòng chi tiết thì load lại
        const id = response[0].data[contractobject.tbl.keyfield];
        if (contractobject.lineobject.tbls[id]) {
          contractobject.lineobject.tbls[id].refreshDataDisplay();
        }
      }
    };
    contractobject.deletecallback = async function ({ response, data, row }) {
      //nếu response[0] tồn tại thì hiển thị thông báo lỗi
      if (response.status !== 0) {
        //nếu tồn tại dòng chi tiết thì xóa đi
        const id = data[contractobject.tbl.keyfield];
        if (contractobject.lineobject.tbls[id]) {
          contractobject.lineobject.tbls[id].container.remove();
          delete contractobject.lineobject.tbls[id];
        }
      }
    };

    // Khởi tạo bảng
    contractobject.tbl = new senapp.utils.table({
      meta: contractobject.model.meta,
      urldata: contractobject.urldata,
      container: contractobject.container,
      tableelement: contractobject.container.querySelector('table'),
      modal: false,// khi thêm mới hoặc sửa thì có modal hay không
      selectcolumn: true, // có hiển thị cột chọn hay không
      addrow: false, // cho phép thêm mới
      editrow: false, // cho phép sửa
      deleterow: false, // cho phép xóa
      readonly: true, //chế độ chỉ đọc
      filterrow: false, // có hiển thị filter row hay không
      filtercompact: true, // hiển thị filter row ở dạng compact
      // loadmoreonvisible: false, // tự động tải thêm dữ liệu khi cuộn đến cuối danh sách      
      sysnoviewcard: false, // cho phép xem card khi click vào số thứ tự
      actionbuttons: { edit: false, delete: false },//ẩn/hiện nút hành động
      metacolumns: [
        { field: 'Ext01', description: '<i class="fa-solid fa-users" title="Members"></i>', colorder: -2, visible: true, show: true, gridwidth: 32 },
        { field: 'ExtLine', description: 'Items', colorder: -1, visible: true, show: true },
        { field: 'SysAction', visible: false },
      ],
      customcolumns: ['Ext01', 'ExtLine', 'ContractName'],// ['SysNo', 'String', 'Id'], // Danh sách các cột tùy chỉnh khi render cell
      // filtercompact: true, // hiển thị filter row ở dạng compact
      allowexport2excel: false,//cho phép xuất Excel
      datanew: contractobject.model.datanew,
      deletecallback: contractobject.deletecallback //gán hàm callback sau khi xóa
    });
    contractobject.tbl.genCellDataCustom = function ({ data, metacolumn }) {
      if (!metacolumn || !metacolumn.field) {
        return null; // Trả về null nếu không có metacolumn hoặc field
      }
      // Hàm này sẽ được sử dụng để tạo dữ liệu cho các cột tùy chỉnh
      const tableobject = this;
      const td = document.createElement('td');
      td.setAttribute('data-field', metacolumn.field);
      //nếu field.visible là false hoặc field.show là false thì không hiển thị cột này  gán class d-none
      if (!metacolumn.show) { td.classList.add('d-none'); }
      switch (metacolumn.field) {
        case 'Ext01':
          td.innerHTML = `<a href="javascript:;" onclick="contractobject.loadUser(this)" title="View Members"><i class="fa fa-ellipsis"></i></a>`;
          break;
        case 'ExtLine':
          //nếu metacolumn.field là 'ExtLine' thì nội dung là số thứ tự của dòng trong bảng
          const index = tableobject.datas.indexOf(data);
          td.innerHTML = `<a data-load="false" href="javascript:;" onclick="contractobject.lineobject.loadLine(this)" title="View Items"><i class="fa fa-ellipsis"></i></a>`;
          break;
        case 'ContractName':
          td.innerHTML = `<a href="/contract/management?${tableobject.keyfield}=${data[tableobject.keyfield]}" title="Management">${data[metacolumn.field] || ''}</a>`;
          break;
        default:
          //nếu không phải là cột tùy chỉnh thì trả về giá trị của trường đó
          td.innerHTML = data[metacolumn.field] || '';
          break;
      }
      return td;
    }

    //#region chức năng

    contractobject.filterchange = async function (element) {
      const tableobject = contractobject.tbl;
      const filtercontracttype = contractobject.container.querySelector('select[name="filter-contract-type"]').value;
      if (filtercontracttype !== 'All') {
        tableobject.metaAddFilter({ meta: tableobject.meta, field: 'ContractType', op: 'includes', value: filtercontracttype });
        tableobject.changeRowFilter({ meta: tableobject.meta, condition: { field: 'searchTerm', op: 'includes', value: tableobject.searchelement.value.trim() } });
      }
      else {
        tableobject.changeRowFilter({ meta: tableobject.meta, condition: { field: 'searchTerm', op: 'includes', value: tableobject.searchelement.value.trim() } });
      }
    };

    contractobject.assignToUsercallback = async function (response) {
      if (response && response.length > 0) {
        // Process the selected roles
        // console.log('Selected members:', response);
        senapp.window.loading.show();
        const tableobject = contractobject.tbl;
        const selectedKeys = tableobject.getKeySelected();
        try {
          // Tạo mảng Promise bất đồng bộ
          const promises = selectedKeys.flatMap(id =>
            response.map(async m => {
              const newrolemember = { Id: senapp.data.sessionAutoId(), ContractId: id, Account: m };
              const res = await fetch(contractobject.urldata.assignToUser, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(newrolemember)
              });
              if (!res.ok) { throw new Error(`HTTP error! status: ${res.status}`); }
              const response = await res.json(); // hoặc .text() nếu API không trả JSON
              if (response.status == 0) {
                senapp.window.toast({ message: response.message, type: 'danger' });
              } else {
                senapp.window.toast({ message: response.message, type: 'success' });
              }
            })
          );
          await Promise.all(promises);
          senapp.window.loading.hide();
          console.log("Tất cả đã xong!");
        } catch (err) {
          senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('An error occurred while processing:')}`, type: 'danger' });
          console.error("Có lỗi :", err);
        }
      }
      else {
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('No roles selected.')}`, type: 'warning' });
      }
    };
    contractobject.assignToUser = async function () {
      const selectedKeys = contractobject.tbl.getKeySelected();
      if (selectedKeys.length === 0) {
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('Please select at least one row to assign.')}`, type: 'danger' });
        return;
      }

      const lookupfilter = {
        url: '/member/lookup', fields: { id: '`${item.Email}`', value: '`${item.Email}`', label: '`${item.Email}`' },
        //filter: { logic: "and", conditions: [{ field: "Description", op: "includes", value: '' }] }
        filter: { logic: "and", conditions: [{ field: "searchTerm", op: "includes", value: '' }] }
      };
      senapp.window.lookup({ options: { title: 'Select Members', multiple: true, callback: 'contractobject.assignToUsercallback', lookup: lookupfilter } });
    };

    contractobject.loadUser = function (element) {
      const tableobject = contractobject.tbl;
      const id = parseInt(element.closest('tr').getAttribute('data-id'));
      const data = tableobject.datas.find(item => item[tableobject.keyfield] === id);

      const urlline = `/contractmember?viewname=contractmemberbycontract&id=${id}`;
      senapp.window.offcanvas({
        title: `User List of ${data["ContractName"] || ''}`,
        url: urlline
      });
    };

    //#endregion chức năng

    //#region line
    contractobject.lineobject = { model: {}, tbls: [], contractlineobject: {}, contractid: 0 };
    contractobject.lineobject.urldata = {
      lists: '/contractline/list',
      item: '/contractline/item',
      // create: '/contractline/create',
      // edit: '/contractline/edit',
      // delete: '/contractline/delete',
      // update: '/contractline/edit',
      meta: '/contractline/meta'
    };
    contractobject.lineobject.lineloadUser = function (element) {
      const id = parseInt(element.closest('tr').getAttribute('data-id'));
      const parentid = element.closest('.extline-container').getAttribute('data-id');
      const tableobject = this.tbls[parentid];
      const data = tableobject.datas.find(item => item[tableobject.keyfield] === id);

      const urlline = `/contractlinemember?viewname=contractlinememberbycontractline&id=${id}&parentid=${parentid}`;
      senapp.window.offcanvas({
        title: `User List of ${data["WBS"]}-${data["WorkName"] || ''}`,
        url: urlline,
        size: 'lg'
      });
    };
    contractobject.lineobject.linefilterchange = async function (element) {
      const id = element.closest('.extline-container').getAttribute('data-id');
      const tableolinebject = this.tbls[id];
      const filtercontainer = element.closest('.mb-1');
      const filtertype = filtercontainer.querySelector('select[name="filter-type"]').value;
      const filterlevel = filtercontainer.querySelector('select[name="filter-level"]').value;
      tableolinebject.urldata.lists = `${this.urldata.lists}?filtertype=${encodeURIComponent(filtertype)}&ToLevel=${encodeURIComponent(filterlevel)}&${contractobject.tbl.keyfield}=${encodeURIComponent(id)}`;
      tableolinebject.refreshDataDisplay();
    };

    contractobject.lineobject.lineassignToUsercallback = async function (response) {
      // Callback function for lookup
      // console.log('Response from assignToUser:', response);
      if (response && response.length > 0) {
        // Process the selected roles
        console.log('Selected members:', response);
        senapp.window.loading.show();
        const tableobject = contractobject.tbl;
        const selectedKeys = this.contractlineobject.getKeySelected();
        try {
          // Tạo mảng Promise bất đồng bộ
          const promises = selectedKeys.flatMap(async id => {
            const selectusers = response[0]; // Lấy danh sách người dùng từ phần tử đầu tiên của response
            const selectroles = response[1]; // Lấy danh sách vai trò từ phần tử thứ hai của response
            //quét từng user
            for (const u of selectusers) {
              //quét từng role
              for (const r of selectroles) {
                const newcontractlinemember = {
                  Id: senapp.data.sessionAutoId(),
                  ContractId: this.contractid,
                  ItemId: id,
                  Account: u,
                  IsActive: 'Yes',
                  Description: `Assigned to role ${r}`,
                  Role: r
                };
                console.log('Adding contract line member:', newcontractlinemember);
                const res = await fetch(contractobject.urldata.assignToSubmission, {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify(newcontractlinemember)
                });
                if (!res.ok) { throw new Error(`HTTP error! status: ${res.status}`); }
                const response = await res.json(); // hoặc .text() nếu API không trả JSON
                if (response.status == 0) {
                  senapp.window.toast({ message: response.message, type: 'danger' });
                } else {
                  senapp.window.toast({ message: response.message, type: 'success' });
                }
              }
            }
          });
          await Promise.all(promises);
          senapp.window.loading.hide();
          console.log("Tất cả đã xong!");
        } catch (err) {
          senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('An error occurred while processing:')}`, type: 'danger' });
          console.error("Có lỗi :", err);
        }
      }
      else {
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('No roles selected.')}`, type: 'warning' });
      }
    };
    contractobject.lineobject.lineassignToUser = async function (element) {
      const id = element.closest('.extline-container').getAttribute('data-id');
      // console.log('Assign to user for line id:', id);
      this.contractlineobject = this.tbls[id];
      this.contractid = id;
      const selectedKeys = this.contractlineobject.getKeySelected();
      if (selectedKeys.length === 0) {
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('Please select at least one row to assign.')}`, type: 'danger' });
        return;
      }

      // const lookupfilter = {
      //   url: '/member/lookup', fields: { id: '`${item.Email}`', value: '`${item.Email}`', label: '`${item.Email}`' },
      //   //filter: { logic: "and", conditions: [{ field: "Description", op: "includes", value: '' }] }
      //   filter: {
      //     logic: "and", conditions: [{ field: "searchTerm", op: "includes", value: '' }],
      //     data: [{ id: 1, label: 'User 1' }, { id: 2, label: 'User 2' }, { id: 3, label: 'User 3' }]
      //   }
      // };

      // const memberdata = await fetch(`${contractobject.urldata.memberbycontract}?pagesize=0&id=${id}`);
      // const memberlist = await memberdata.json();
      // // console.log('Member list:', memberlist);
      // let data = [];
      // memberlist.datas.forEach(item => {
      //   data.push({ id: item.Account, value: item.Account, label: item.Account });
      // });

      // const lookupfilter = {
      //   fields: { id: '`${item.Email}`', value: '`${item.Email}`', label: '`${item.Email}`' },
      //   //filter: { logic: "and", conditions: [{ field: "Description", op: "includes", value: '' }] }
      //   filter: { logic: "and", conditions: [{ field: "searchTerm", op: "includes", value: '' }] },
      //   data: data
      // };

      const lookupfilter = {
        url: '/common/lookup',
        fields: { id: '`${item.Email}`', value: '`${item.Email}`', label: '`${item.Email}`' },
        //filter: { logic: "and", conditions: [{ field: "Description", op: "includes", value: '' }] }
        filter: { logic: "and", conditions: [{ field: "searchTerm", op: "includes", value: '' }] },
        extparam: `&lookupType=memberincontract&id=${id}`
      };


      const lookupfilterraci = {
        url: '/common/lookup', fields: { id: '`${item.RoleName}`', value: '`${item.RoleName}`', label: '`${item.RoleName}`' },
        //filter: { logic: "and", conditions: [{ field: "Description", op: "includes", value: '' }] }
        filter: { logic: "and", conditions: [{ field: "searchTerm", op: "includes", value: '' }] },
        extparam: '&lookupType=raci_list'
      };



      senapp.window.lookups({
        options: [
          { title: 'Quick assignment', titleselect: 'Select Users', multiple: true, callback: 'contractobject.lineobject.lineassignToUsercallback', lookup: lookupfilter },
          { title: 'Quick assignment', titleselect: 'Select Roles', multiple: true, callback: 'contractobject.lineobject.lineassignToUsercallback', lookup: lookupfilterraci }
        ]
      });
    };
    contractobject.lineobject.loadUser4RACI = async function (element) {
      const tableobject = contractobject.tbl;
      const id = element.closest('.extline-container').getAttribute('data-id');
      this.contractlineobject = this.tbls[id];
      this.contractid = id;
      const selectedKeys = this.contractlineobject.getKeySelected();
      if (selectedKeys.length === 0) {
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('Please select at least one row to assign.')}`, type: 'danger' });
        return;
      }
      const data = tableobject.datas.find(item => item[tableobject.keyfield] === parseInt(id));
      const idlines = selectedKeys.join(',');
      const urlline = `/contractmember?viewname=contractmemberbycontract4raci&id=${id}&idlines=${encodeURIComponent(idlines)}`;
      senapp.window.offcanvas({
        title: `User List of ${data["ContractName"] || ''}`,
        url: urlline,
        size: 'lg'
      });
    };

    contractobject.lineobject.headerline = function () {
      return `
    <div class="mb-1 text-end">
      <div class="btn-group me-1">
        <a onclick="contractobject.lineobject.lineassignToUser(this)" class="btn btn-subtle-secondary btn-sm">Quick assignment</a>
        <a onclick="contractobject.lineobject.loadUser4RACI(this)" class="btn btn-subtle-secondary btn-sm ms-1">Reset Assignment(s)</a>
      </div>
    </div>
    `;
    };
    contractobject.lineobject.filterline = function () {
      const type = ['All', 'BoQ', 'BoM'];
      const level = ['All', '1', '2', '3', '4'];

      return `
    <div class="mb-1">
      <div class="btn-group me-1">
        <label class="col-sm-2 col-form-label">Type:</label>
        <select name="filter-type" class="form-select form-select-sm" onchange="contractobject.lineobject.linefilterchange(this)" style="width:150px">
          ${type.map(t => `<option value="${t}">${t}</option>`).join('')}
        </select>
        <label class="col-sm-2 col-form-label ms-3">Level:</label>
        <select name="filter-level" class="form-select form-select-sm" onchange="contractobject.lineobject.linefilterchange(this)" style="width:150px">
          ${level.map(l => `<option value="${l}">${l}</option>`).join('')}
        </select>
      </div>
    </div>
    `;
    };

    contractobject.lineobject.loadLine = async function (element) {
      const tableobject = contractobject.tbl;
      const tr = element.closest('tr');
      const id = parseInt(tr.getAttribute('data-id'));
      //nếu element có data-load=true thì collapse toggle tr extline và return không làm gì cả
      if (element.getAttribute('data-load') === 'true') {
        const extline = tr.nextElementSibling;
        if (extline && extline.classList.contains('extline')) {
          //ẩn hiện tr extline
          if (extline.style.display === 'none') {
            extline.style.display = '';
          } else {
            extline.style.display = 'none';
          }
        }
        return;
      }

      // //tạo tr chèn vào dưới tr hiện tại
      // if (tr.nextElementSibling && tr.nextElementSibling.classList.contains('extline')) {
      //   //nếu đã có tr extline thì xóa đi
      //   tr.nextElementSibling.remove();
      //   return;
      // }
      // tạo id cho dòng chi tiết
      element.setAttribute('data-load', 'true');
      const containerlineid = `${contractobject.container.id}-line-${id}`;
      //nếu tồn tại rồi thì không tạo nữa
      if (document.querySelector(`tr.extline[data-id='${containerlineid}']`)) {
        const extline = tr.nextElementSibling;
        if (extline && extline.classList.contains('extline')) {
          //ẩn hiện tr extline
          if (extline.style.display === 'none') {
            extline.style.display = '';
          } else {
            extline.style.display = 'none';
          }
        }
        return;
      }

      const extline = document.createElement('tr');
      extline.classList.add('extline');
      extline.setAttribute('data-id', containerlineid);
      extline.innerHTML = `<td colspan="100%">Loading...</td>`;
      tr.parentNode.insertBefore(extline, tr.nextSibling);
      extline.innerHTML = `<td colspan="100%">
          <div class="extline-container" data-id="${id}">
          ${contractobject.lineobject.headerline()}            
            <div class="row-fluid">
              <div class="card">
                <div class="card-header">
                  ${contractobject.lineobject.filterline()}
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-sm fs-9 mb-5">
                      <tbody class="list"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>`;
      const urldata = JSON.parse(JSON.stringify(this.urldata));
      let datanew = JSON.parse(JSON.stringify(this.model.datanew));
      datanew[tableobject.keyfield] = id;
      urldata.lists += `?${tableobject.keyfield}=${id}`;
      let tblline = new senapp.utils.table({
        datanew: datanew,
        meta: this.model.meta,
        urldata: urldata,
        container: extline,
        selectcolumn: true, // có hiển thị cột chọn hay không
        filterrow: false, // có hiển thị filter row hay không        
        addrow: false, // cho phép thêm mới
        editrow: false, // cho phép sửa
        deleterow: false, // cho phép xóa
        addnewfirst: false, //thêm mới vào đầu danh sách
        loadmoreonvisible: true, // tự động tải thêm dữ liệu khi cuộn đến cuối danh sách  
        metacolumns: [
          { field: 'SysAction', visible: false, colorder: -9 },
          { field: 'Ext02', description: '<i class="fas fa-list" title="Submissions"></i>', colorder: -8, visible: true, show: true, gridwidth: 80 },
          { field: 'Ext01', description: '<i class="fa-solid fa-users" title="Members"></i>', colorder: -1, visible: true, show: true, gridwidth: 32 },
        ],
        customcolumns: ['Ext01', 'Ext02'], // Danh sách các cột tùy chỉnh khi render cell
      });

      tblline.genCellDataCustom = function ({ data, metacolumn }) {
        if (!metacolumn || !metacolumn.field) {
          return null; // Trả về null nếu không có metacolumn hoặc field
        }
        // Hàm này sẽ được sử dụng để tạo dữ liệu cho các cột tùy chỉnh
        const tableobject = this;
        const td = document.createElement('td');
        td.setAttribute('data-field', metacolumn.field);
        //nếu field.visible là false hoặc field.show là false thì không hiển thị cột này  gán class d-none
        if (!metacolumn.show) { td.classList.add('d-none'); }
        switch (metacolumn.field) {
          case 'Ext01':
            td.innerHTML = `<a href="javascript:;" onclick="contractobject.lineobject.lineloadUser(this)" title="View Members"><i class="fa fa-ellipsis"></i></a>`;
            break;
          case 'Ext02':
            td.innerHTML = `<a href="javascript:;" onclick="contractobject.lineperformobject.linecreatePerform(this)" title="Create Submission" class="me-1"><i class="fa fa-plus"></i></a>`;
            if (data.NSubmission && data.NSubmission > 0) {
              td.innerHTML += `<a href="javascript:;" onclick="contractobject.lineperformobject.lineloadPerform(this)" title="View Submission"><span class="ms-1" title="Number of Submission: ${data.NSubmission}">(${data.NSubmission})</span></a>`;
            }
            else {
              td.innerHTML += `<a href="javascript:;" onclick="contractobject.lineperformobject.lineloadPerform(this)" title="View Submission"><span class="ms-1" title="Number of Submission: ${data.NSubmission}">(0)</span></a>`;
            }
            break;
          default:
            //nếu không phải là cột tùy chỉnh thì trả về giá trị của trường đó
            td.innerHTML = data[metacolumn.field] || '';
            break;
        }
        return td;
      }

      await tblline.initTable();
      this.tbls[id] = tblline;

    };
    //#endregion line

    //#region submission
    contractobject.lineperformobject = { model: {}, tbls: [] };
    contractobject.lineperformobject.urldata = {
      lists: '/contractlineperform/list',
      item: '/contractlineperform/item',
      // create: '/contractlineperform/create',
      // edit: '/contractlineperform/edit',
      // delete: '/contractlineperform/delete',
      // update: '/contractlineperform/edit',
      meta: '/contractlineperform/meta'
    };

    contractobject.lineperformobject.linecreatePerformcallback = function (response) {
      //nếu response[0] tồn tại thì hiển thị thông báo lỗi
      if (response[0]) {
        if (response[0].status == 0) {
          alert(response[0].message);
          return;
        }
        const data = response[0].data;
        const tableobject = this.tbls[data.ItemId];
        if (tableobject) {
          tableobject.refreshDataDisplay();
        }

        console.log('Created Perform:', response[0]);
        // senobjectobject.tbl.onAddRowData({ data: response[0].data });
      }
    };
    contractobject.lineperformobject.linecreatePerform = function (element) {
      const id = parseInt(element.closest('tr').getAttribute('data-id'));
      // const parentid = parseInt(contractobject.contractid);//dùng cho contractmanagement
      const parentid = element.closest('.extline-container').getAttribute('data-id');
      const tableobject = contractobject.lineobject.tbls[parentid];
      const data = tableobject.datas.find(item => item[tableobject.keyfield] === id);

      // console.log('Create Perform for Contract Line ID:', id, 'Parent Contract ID:', parentid);
      const url = `/contractlineperform/create?contractid=${encodeURIComponent(parentid)}&itemid=${encodeURIComponent(id)}&callback=${encodeURIComponent('contractobject.lineperformobject.linecreatePerformcallback')}`;
      senapp.window.modal({ url: url, title: 'Create Perform' });

    };

    contractobject.lineperformobject.lineloadPerform = async function (element) {
      const parentid = element.closest('.extline-container').getAttribute('data-id');
      const tableobject = contractobject.lineobject.tbls[parentid];
      const tr = element.closest('tr');
      const id = parseInt(tr.getAttribute('data-id'));
      const data = tableobject.datas.find(item => item[tableobject.keyfield] === id);

      //nếu element có data-load=true thì collapse toggle tr extline và return không làm gì cả
      if (element.getAttribute('data-load') === 'true') {
        const extline = tr.nextElementSibling;
        if (extline && extline.classList.contains('extline')) {
          //ẩn hiện tr extline
          if (extline.style.display === 'none') {
            extline.style.display = '';
          } else {
            extline.style.display = 'none';
          }
        }
        return;
      }

      // //tạo tr chèn vào dưới tr hiện tại
      // if (tr.nextElementSibling && tr.nextElementSibling.classList.contains('extline')) {
      //   //nếu đã có tr extline thì xóa đi
      //   tr.nextElementSibling.remove();
      //   return;
      // }
      // tạo id cho dòng chi tiết
      element.setAttribute('data-load', 'true');
      const containerlineid = `${contractobject.container.id}-line-${id}`;
      //nếu tồn tại rồi thì không tạo nữa
      if (document.querySelector(`tr.extline[data-id='${containerlineid}']`)) {
        const extline = tr.nextElementSibling;
        if (extline && extline.classList.contains('extline')) {
          //ẩn hiện tr extline
          if (extline.style.display === 'none') {
            extline.style.display = '';
          } else {
            extline.style.display = 'none';
          }
        }
        return;
      }

      const extline = document.createElement('tr');
      extline.classList.add('extline');
      extline.setAttribute('data-id', containerlineid);
      extline.innerHTML = `<td colspan="100%">Loading...</td>`;
      tr.parentNode.insertBefore(extline, tr.nextSibling);
      extline.innerHTML = `<td colspan="100%">
          <div class="extline-container" data-id="${id}">
                     
            <div class="row-fluid">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">Submission List of ${data["WorkName"] || ''}</h5>                  
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-sm fs-9 mb-5">
                      <tbody class="list"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>`;
      const urldata = JSON.parse(JSON.stringify(this.urldata));
      let datanew = JSON.parse(JSON.stringify(this.model.datanew));
      datanew[tableobject.keyfield] = id;
      urldata.lists += `?id=${id}&parentid=${parentid}`;
      let tblline = new senapp.utils.table({
        datanew: datanew,
        meta: this.model.meta,
        urldata: urldata,
        container: extline,
        selectcolumn: false, // có hiển thị cột chọn hay không
        filterrow: false, // có hiển thị filter row hay không        
        addrow: false, // cho phép thêm mới
        editrow: false, // cho phép sửa
        deleterow: false, // cho phép xóa
        addnewfirst: false, //thêm mới vào đầu danh sách
        loadmoreonvisible: true, // tự động tải thêm dữ liệu khi cuộn đến cuối danh sách  
        metacolumns: [
          { field: 'SysAction', visible: false, colorder: -9 },
          // { field: 'Ext02', description: '<i class="fas fa-list" title="Performed"></i>', colorder: -8, visible: true, show: true, gridwidth: 80 },
          // { field: 'Ext01', description: '<i class="fa-solid fa-users" title="Members"></i>', colorder: -1, visible: true, show: true, gridwidth: 32 },
        ],
        // customcolumns: ['Ext01', 'Ext02'], // Danh sách các cột tùy chỉnh khi render cell
      });

      await tblline.initTable();
      this.tbls[id] = tblline;


    };
    //#endregion submission

    $(async function () {
      //hủy footer
      document.querySelectorAll('footer.footer').forEach(footer => footer.remove());

      // await contractobject.tbl.initTable();
      contractobject.lineobject.model = await senapp.data.getMeta({ url: contractobject.lineobject.urldata.meta });
      contractobject.lineperformobject.model = await senapp.data.getMeta({ url: contractobject.lineperformobject.urldata.meta });

      contractobject.lineobject.loadLine(document.getElementById("contractmanagement-body-section"));//bổ sung cho contract management items

      //gán thông tin dự án hiện hành
      const data = {
        "ContractCode": contractobject.model.data.ContractCode || '',
        "Contractor": contractobject.model.data.Contractor || '',
        "ContractName": contractobject.model.data.ContractName || '',
        "ContractType": contractobject.model.data.ContractType || '',
        "ContractId": parseInt(contractobject.model.url.query.ContractId) || 0
      }
      contractobject.tbl.datas.push(data);

      // console.log('Contract Object initialized:', contractobject.model);
      // console.log('Contract Object initialized:', contractobject.tbl.datas);

    });
  </script>

</div>